body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {}

.nav-header {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 28px;
}

.header-iteam {}

.header-link {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  padding-top: 28px;
  padding-bottom: 28px;
  display: block;
}

.active {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.header-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.hero {
  padding-top: 14px;
  padding-bottom: 55px;
}

.hero-container {
  display: flex;
  justify-content: space-between;

}

.hero-content {
  padding-top: 145px;
  padding-bottom: 164px;

}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 28px;
  max-width: 502px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 40px;
  max-width: 511px;
}

.hero-button {
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  border: none;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  cursor: pointer;

}

.hero-img {
  border: 26px solid #ffe550;
  border-radius: 100%;
  width: 580px;
  height: 580px;
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/fruit-footer-min.png);
  background-position: bottom;
  background-size: cover;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

.footer-container {
  display: flex;
  flex-direction: column;


}

.footer-one-div {
  display: flex;
  align-items: center;
}

.footer-logo {}

.footer-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-list-one {
  display: flex;
  gap: 28px;
}

.footer-item {}

.footer-link-one {
  display: block;
  font-size: 14px;
  color: #2c2c2c;
  padding-top: 28px;
  padding-bottom: 28px;
}


.footer-three-div {
  display: flex;
  justify-content: space-between;
}

.footer-nav-two {
  display: flex;
}

.footer-list-two {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-item-two {}

.footer-item-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.footer-title-two {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #2c2c2c;
}

/* form */
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}